/* Styles for the dashboard background */
body {
    background-color: #fafafa; 
  }
  
  /* Basic styles for the header and cart icon */
  .header {
      background-color: #069A55;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
      margin-top: -10px;
      margin-left: -8px;
      margin-right: -8px;
    }
    
    
    /* Basic styles for the sidebar and menu items */
  .sidebar {
    background-color: #252525;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: -8px;
    min-height: 400vh;
    transform: translateY(110px); 
    position:absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    overflow-y: auto;
    }
    
    .menu {
    list-style-type: none;
    padding: -80px;
    margin: -10px;
    position: relative;
    }
    
    .menu li {
    margin-bottom: 40px;
    }
    
    .menu a {
    font-family: "Segoe UI", sans-serif;
    font-size: 25px;
    color: #FEFEFE;
    text-decoration: none;
    margin-left: -5px;
    transition: background-color 0.3s ease;
    }
    
    .menu img {
    width: 25px;
    height: 20px;
    margin-right: 20px;
    filter: invert(100%);
    margin-left: -30px;
    transition: transform 0.3s ease;
    }
    
    .menu .icon img {
    width: 20px;
    height: 20px;;
    margin-left: -60px;
    }
    
    /* Add zoom-in animation on hover for menu items and images */
    .menu li:hover,
    .menu img:hover {
    transform: scale(1.1); 
    }
    
    /* Add orange background on hover for menu items and images */
    .menu li a:hover,
    .menu img:hover {
    background-color: rgb(44, 16, 227);
    }
  
  /* Adding KUMARA STORES LOGO */
  .logo {
    position: absolute;
    top: 5%; 
    left: 70px; 
    transform: translateY(-50%); 
  }
  
  .logo img {
    width: 90px; 
    height: 75px;
  }
  



/* Styles for the dashboard texts */
.content {
    margin-left: 300px;
    padding: 20px;
    }
    
    .texts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    margin-top: 30px;
    margin-bottom: 20px; 
    }
    
    .manage-slider-text {
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #5A5A5A;
    margin-right: 1100px; 
    white-space: nowrap;
    }
    
    .breadcrumb-text {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: regular;
    color: #5A5A5A;
    margin-right: 40px;
    white-space: nowrap;
    }




  .admin-panel-text {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
  }



  /* horizontal line */
.heading-line {
    border: 1px solid #000000; 
    margin-top: 10px; 
  }


 /* Manage Slider table */
 table.manage-slider {
  width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 18%;
  transform: translateY(40px);
}

table.manage-slider th {
  background-color: #f8cefd;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
}

table.manage-slider th img {
  max-width: 100px;
  max-height: 100px;
}

table.manage-slider th.action-header {
  text-align: center;
}

table.manage-slider tr:nth-child(even) {
  background-color: white;
}

table.manage-slider tr:nth-child(odd) {
  background-color: #f4f4f4;
}

table.manage-slider td {
  padding: 10px;
  text-align: left;
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border: 1px solid #ccc;
}

table.manage-slider .edit-button {
  background-color: #FFAA00;
  border: none;
  cursor: pointer;
}

table.manage-slider .edit-button img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  filter: invert(1);
}

table.manage-slider .delete-button {
  background-color: #F53434;
  border: none;
  cursor: pointer;
}

table.manage-slider .delete-button img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  filter: invert(1);
}




